<h1>Movie Listings </h1>

  <% @movies.each do |movie| %>
 
    <!--Card mockup -->
    <div class="slide">
      <div class="card">
        <div class="image" id="img1"></div>
        <div class="content">
          <p class="theme"><%= movie.title %></p>
          <h1>Rated: <%=  movie.rating %></h1>
          <h1>Genre: <%=  movie.genres %></h1>
          <h2><%= link_to 'Read Reviews', movie_path(movie) %></h2>
          <h2><%= link_to 'Edit', edit_movie_path(movie) %></h2>
          <h2><%= link_to 'Delete this Movie', movie_path(movie),
                                 method: :delete,
                                 data: {confirm: 'Delete ' + '' + movie.title + ' ?'}
        %></h2>
        
        </div>
      </div>
    </div><br>
    
  <!--End card mockup-->
  <% end %>


<h2><%= link_to 'Dont see a movie? Add one here!', new_movie_path %></h2>

<script src="https://unpkg.com/scrollreveal"></script>
<script>
  ScrollReveal().reveal('.slide',{
      delay: 300,
      easing: 'ease',
      scale :0.85,
      reset: true,
      mobile: true

  });
</script>