<h1> list page</h1>
<%= form_with scope: :movie, url: movies_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 <p>
    <%= form.label :rating %><br>
    <%= form.text_field :rating %>
  </p>
  <p>
    <%= form.label :desc %><br>
    <%= form.text_area :desc %>
  </p>
 <p>
    <%= form.label :genres %><br>
    <%= form.text_field :genres %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>