
          <div class = "movie-container">

            <div class ="para-bg">
              <h1><%= @movie.title %></h1>
              <h1>Rating: <%= @movie.rating %></h1>
              <h1>Genre: <%= @movie.genres %></h1>
              <p class="paragraph"><%= @movie.desc %></p>

            </div>
            <% if @movie.poster.attached? %>
              <img class ="bg" src="<%=(url_for(@movie.poster)) %>">
            <% end %>



          <div class="review-container">

          <h1 id="post">Post a review</h1>
          <%= form_for([@movie,@movie.comments.build]) do |form| %>
            <div class = "post-container">
            <p id="commenter">
              <%= form.label :name %><br>
              <%= form.text_field :name,:autocomplete => 'off' %>
            </p>
            <p id ="comment">
              <%= form.label :comment %><br>
              <%= form.text_field :comment,:autocomplete => 'off' %>
            </p>
              <button id = "btn" <%= form.submit  %>></button>
            </div>

          <% end %>
          <h1>Comments</h1>
          <% @movie.comments.each do |comment| %>

            <div class = "comment-container">
              <p id ="comment-name"><%=comment.name %></p>
              <p><%= comment.comment %></p>
            </div>

              </div>



          <% end %>

            </div>
          <script src="https://unpkg.com/scrollreveal"></script>
          <script>
              ScrollReveal().reveal('.comment-container',{
                  delay: 300,
                  easing: 'ease',
                  scale :0.85,
                  reset: true,
                  mobile: true

              });
          </script>