<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Betflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload', :media => 'all' %>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
